@implements IDisposable

<MudDialog Class="pa-4" @bind-Visible="_visible" Options="_dialogOptions">
    <TitleContent>
        <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
            @if (!string.IsNullOrWhiteSpace(Icon))
                {
                    <MudIcon Icon="@Icon" />
                }
            <MudText Typo="Typo.h6">
                @Title
            </MudText>
        </MudStack>
    </TitleContent>

    <DialogContent>
        @if (ChildContent is not null)
        {
            @ChildContent
        }
        else
        {
            <p>@Message</p>
        }
    </DialogContent>

    <DialogActions>
        <MudStack Class="mb-3 mr-3" Spacing="2" Row="true" AlignItems="AlignItems.Center">
            @if (ShowCancelButton)
            {
                <MudButton Class="mud-elevation-hover" Variant="Variant.Outlined" Color="Color.Secondary" OnClick="Cancel">
                    <MudIcon Icon="@Icons.Material.Outlined.Clear" Class="mr-2" />
                    @CancelText
                </MudButton>
            }
            <MudButton Class="mud-elevation-hover" Variant="Variant.Filled" Color="Color.Primary" OnClick="Confirm">
                <MudIcon Icon="@Icons.Material.Outlined.Check" Class="mr-2" />
                @ConfirmText
            </MudButton>
        </MudStack>
    </DialogActions>
</MudDialog>

@code {
    // --- Estado interno ---
    private bool _visible { get; set; }


    // --- Parámetros personalizables ---
    [Parameter] public string? Title { get; set; } = "Confirm action";
    [Parameter] public string? Message { get; set; }
    [Parameter] public string? Icon { get; set; } = Icons.Material.Filled.Info;

    [Parameter] public string ConfirmText { get; set; } = "Accept";
    [Parameter] public string CancelText { get; set; } = "Cancel";
    [Parameter] public bool ShowCancelButton { get; set; } = true;

    [Parameter] public RenderFragment? ChildContent { get; set; }

    // --- Eventos hacia el padre ---
    [Parameter] public EventCallback OnConfirm { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }

    // --- Opciones del diálogo ---
    private DialogOptions _dialogOptions = new()
    {
        CloseButton = true,
        MaxWidth = MaxWidth.Small,
        FullWidth = true
    };

    // --- Métodos públicos ---
    public void Open() => _visible = true;
    public void Close() => _visible = false;

    private async Task Confirm()
    {
        _visible = false;
        await OnConfirm.InvokeAsync();
    }

    private async Task Cancel()
    {
        _visible = false;
        await OnCancel.InvokeAsync();
    }
    // --- Variables públicas ---
    public void Dispose()
    {
        Console.WriteLine($"{GetType().Name} disposed.");
    }
}