@page "/"

@using BadReview.Shared.DTOs.Response

@inject ILogger<Home> Logger
@inject HttpClient Client

<PageTitle>Home</PageTitle>

<h1>Hello, @myName!</h1>

Welcome to your new app.


@code {

    string myName = "";

    protected override async Task OnInitializedAsync()
    {
        string log = $"URI: {Client.BaseAddress}";
        Logger.LogInformation(log);

        UserDto? userDto = await Client.GetFromJsonAsync<UserDto>("/api/users/1");

        myName = userDto?.FullName ?? "" ;
    }
}