@page "/"
@attribute [Authorize]

@using BadReview.Shared.DTOs.Response

@inject ILogger<Home> Logger
@inject HttpClient Client
@inject AuthService authS

<PageTitle>Home</PageTitle>
<MudText Typo="Typo.h4">
    Welcome to BadReview!
</MudText>
<MudText Typo="Typo.body1" Class="mt-4">
    Hello, @myName
</MudText>

<MudPaper Class="pa-4" Elevation="@currentElevation" 
          @onmouseenter="() => currentElevation = 5" 
          @onmouseleave="() => currentElevation = 1">
    <MudText>Este componente se eleva con hover!</MudText>
</MudPaper>
<MudLink Href="https://www.google.com" Style="text-decoration: none;">

    <MudCard>
        <MudCardContent>
            <MudText>Story of the day</MudText>
            <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Primary" Href="https://www.google.com">Learn more</MudButton>
        </MudCardActions>
    </MudCard>
</MudLink>
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="OpenDialog">
    Mostrar Popup
</MudButton>

<CustomDialog @ref="dialog"
              Title="Eliminar registro"
              Message="¿Estás seguro que querés eliminar este elemento?"
              Icon="@Icons.Material.Filled.Delete"
              OnConfirm="OnConfirm"
              OnCancel="OnCancel" >
<MudRating @bind-SelectedValue="currentRating" MaxValue="5" ReadOnly="false" />
</CustomDialog>

<p>@status @currentRating</p>


@code {
    private CustomDialog? dialog;
    private string status = "";

    private int currentRating = 0;
    private void OpenDialog() => dialog?.Open();

    private void OnConfirm() => status = "Acción confirmada";
    private void OnCancel() => status = "Acción cancelada";
    string myName = "";
    int currentElevation = 1;

    [CascadingParameter]
    Task<AuthenticationState>? authState { get; set; }


    protected override async Task OnInitializedAsync()
    {
        //string log = $"URI: {Client.BaseAddress}";
        //Logger.LogInformation(log);

        //UserDto? userDto = await Client.GetFromJsonAsync<UserDto>("/api/users/1");

        //myName = userDto?.FullName ?? "" ;

        AuthenticationState state = await authState!;
        authS.LogJWToken(state, Logger);
    }
}