name: Build Blazor for Cloudflare Pages

on:
  push:
    branches:
      - main   
      - master 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 9.0.10

    - name: Publish Blazor WASM
      working-directory: BadReview.Client
      run: dotnet publish -c Release -o published

    - name: Push to pages-build branch
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: BadReview.Client/published/wwwroot
        publish_branch: pages-build
